azure-functions
# azure-cosmos      # enables if you use the azure cosmos db (nosql)
fastapi
uvicorn==0.38.0
python-multipart
pydantic-settings

openai
langchain
langchain-openai==1.0.2
langchain-weaviate
langchain_community
weaviate-client
faiss-cpu

pandas
numpy
pytz
requests
